*, body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    width: 100%;
    font-family: Arial, sans-serif;
}
/* NAVBAR */
#header{
    position: relative;
    height: 15vh;
    width: 100%;
    background-color: #2B4DFF;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.image{
    margin-left: 5%;
    height: 100%;
    width: 25%;
}

.image img{
    width: 100%;
    height: 100%;
}

.navbar{
    width: 65%;
    height: 100%;
    margin-right: 5%;
}

ul{
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

li{
    list-style: none;
    font-size: 2.5em;
    font-weight: bold;
    padding-left: 5%;
}

.navbar a{
    color: palevioletred;
    text-decoration: none;
}

/* Fin NAVBAR */

/* SECTION */

.welcome-page{
    background-color: #FCFF64;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 75vh;
}

/* SECTION */
#footer{
    position: absolute;
    width: 100%;
    height: 10vh;
    background-color: #2B4DFF;
}

.footer-end{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 7%;
}

.footer-end img{
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

.footer-end span{
    display: block;
}

.footer-end  p{
    font-size: 1.5em;
    color: #FCFF64;
    font-weight: 800;
    text-align: center;
}

.footer-end  a{
    text-align: center;
    color: white;
    text-decoration: none;
}

/*FIN FOOTER */

/* MEDIA QUERY */

@media screen and (max-width: 1200px) {

    /*Navbar */
    li{
        font-size: 2em;
    }
    /*Navbar */
    /* SECTION*/
    
    /* SECTION*/
}

@media screen and (max-width: 1050px) {
    
}

@media screen and (max-width: 900px) {

   
    /* NAVBAR */
    li{
        font-size: 1.5em;
        margin: 1px;
    }
    /* NAVBAR */

    /* SECTION */

    .welcome-page{
        display: flex;
        flex-direction: column;
        height: 70vh;
    }

    
    #footer{
        height: 20vh;
    }

    .footer-end{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-right: 0%;
    }
    
    .footer-end img{
        height: 15px;
        width: 15px;
        margin-right: 5px;
    }
        
    .footer-end  p{
        font-size: 1em;
        margin: 1% 0;
    }
}
    

@media screen and (max-width: 600px) {
    /*Navbar */
    body{
        height: 105vh;
    }
    /*Navbar */
    .image{
    margin-left: 5%;
    height: 100%;
    width: 30%;
    }

    .navbar{
    width: 60%;
    height: 100%;
    margin-right: 5%;
    }

    ul{
        flex-direction: column;
        margin: 0;
        justify-content: center;
        align-items: center;
    }

     li{
        font-size: 1.2em;
        margin: 1px;
    }

    /*Navbar */
    /* SECTION */

   
    /* SECTION */
}

@media screen and (max-width: 350px) {
    
    /* SECTION */
   
    /* SECTION */

    /* FOOTER */

    .footer-end img{
        height: 10px;
        width: 10px;
        margin-right: 5px;
    }
        
    .footer-end  p{
        font-size: 0.8em;
    }
    /* FOOTER */
}
/* FIN MEDIA QUERY */