*, body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    width: 100%;
    font-family: Arial, sans-serif;
}
/* NAVBAR */
#header{
    position: relative;
    height: 15vh;
    width: 100%;
    background-color: #2B4DFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0px 3px;
}

.image{
    margin-left: 5%;
    height: 100%;
    width: 25%;
}

.image img{
    width: 100%;
    height: 100%;
}

.navbar{
    width: 65%;
    height: 100%;
    margin-right: 5%;
}

ul{
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

li{
    list-style: none;
    font-size: 2.5em;
    font-weight: bold;
    padding-left: 5%;
}

.navbar a{
    color: palevioletred;
    text-decoration: none;
}

/* Fin NAVBAR */

/* SECTION */

.welcome-page{
    background-color: #FCFF64;
    background-image: linear-gradient(
        135deg,
        #FFFF89 30%,
        #FCFF64 70%
    );
    width: 100%;
    height: 75vh;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.title-shop{
    font-weight: 900;
    padding-top: 2%;
    height: 5%;
    text-decoration: underline;
}

.shop{
    display: flex;
    flex-direction: row;
    height: 95%;
    width: 100%;
}

.table{
    width: 75%;
    height: 100%;
    padding: 2% 2.5%;
}

thead{
    width: 100%;
    height: 10%;
}

th{
    width: 20%;
    height: 100%;
    text-decoration: underline;
    color: darkgoldenrod; 
}

tbody{
    width: 100%;
    height: 90%;
    font-family: 'Lucida Sans Regular';
}

tr{
    width: 100%;
    height: 20%;
}

td{
    width: 20%;
    height: 20%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

tr img{
    width: 50px;
    height: 50px;
}

th img:hover{
    width: 80px;
    height: 80px;
}

.table-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 25%;
    height: 95%;
    padding: 10%;
    text-decoration: none;
}

.homer-choose{
    width:  200px;
    height: 200px;
}

.table-2 img{
    width: 100%;
    height: 100%;
}

.table-2 button{
    background-color: palevioletred;
    border-radius: 50%;
    width: 130px;
    height: 75px;
    font-weight: bold;
    margin-top: 3%;
}

.table-2 button{
    display: block;
}

.table-2 button:hover{
border: 2px solid black;
}

button span{
    width: 100%;
    display: block;
}

/* FIN SECTION */

/*SECTION ACHAT*/

#div-panier{
    background-color: #FCFF64;
    width: 100%;
    height: 75vh;
}

h2{
    width: 100%;
    height: 10vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.global{
    width: 100%;
    height: 65vh;
    display: flex;
    flex-direction: row;
}

#achats-total{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

#achats-total img{
    margin-left: 30px;
    width: 70px;
    height: 70px;
}

.achat{
    width: 90%;
    height: 12vh;
    margin: 1vh 0vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.achat p{
    text-align: center;
    width: 35%;
    font-weight: bold;
}

.price-total{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 20%;
    height: 65vh;
}

.price-total p{
    font-weight: bold;
    text-align: center;
    color: palevioletred;
}
/* FIN SECTION ACHAT*/

/* FOOTER */

#footer{
    position: absolute;
    width: 100%;
    height: 10vh;
    background-color: #2B4DFF;
   
}

.footer-end{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 7%;
}

.footer-end img{
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

.footer-end span{
    display: block;
}

.footer-end  p{
    font-size: 1.5em;
    color: #FCFF64;
    font-weight: 800;
    text-align: center;
}

.footer-end  a{
    text-align: center;
    color: white;
    text-decoration: none;
}

/*FIN FOOTER */

/* MEDIA QUERY */

@media screen and (max-width: 1200px) {

    /*Navbar */
    li{
        font-size: 2em;
    }
    /*Navbar */
}

@media screen and (max-width: 900px) {

   
    /* NAVBAR */
    li{
        font-size: 1.5em;
        margin: 1px;
    }
    /* NAVBAR */

    /* SECTION */
    .homer-choose{
        width:  150px;
        height: 150px;
    }

     #div-panier{
        height: 100vh;
    }

    h2{
        height: 10vh;
    }

    .global{
        height: 90vh;
        display: flex;
        flex-direction: column;
    }

    #achats-total{
        width: 100%;
        height: 80%;
        margin-right: 30px;
    }

    #achats-total img{
        margin-left: 20px;
        width: 60px;
        height: 60px;
    }

    .achat{
        height: 15vh;
        padding-right: 0%;
        width: 100%;
    }

    .achat p{
        padding-left: 1%;
        text-align: center;
    }

    .price-total{
        width: 100%;
        height: 20%;
        justify-content: center;
        align-items: flex-start;
    }
    /* SECTION */

    /* FOOTER */

    #footer{
        height: 20%;
    }
    .footer-end{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-right: 0%;
    }
    
    .footer-end img{
        height: 15px;
        width: 15px;
        margin-right: 5px;
    }
        
    .footer-end  p{
        font-size: 1em;
        margin: 1% 0;
    }
}
    

@media screen and (max-width: 600px) {
    /*Navbar */
   
    /*Navbar */
    .image{
        margin-left: 5%;
        height: 100%;
        width: 30%;
    }

    .navbar{
        width: 60%;
        height: 100%;
        margin-right: 5%;
    }

    ul{
        flex-direction: column;
        margin: 0;
        justify-content: center;
        align-items: center;
    }

     li{
    font-size: 1.2em;
        margin: 1px;
    }

    /*Navbar */
    /* SECTION */
    .welcome-page{
        height: 100vh;
    }

    .shop{
        display: flex;
        flex-direction: column;
        height: 95%;
        width: 100%;
        padding-bottom: 5%;
    }

    .table{
        width: 100%;
        height: 70%;
        padding: 0% 0%;
    }

    .table-2{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 30%;
        padding: 5% 5%;
    }
    .homer-choose{
        width:  100px;
        height: 100px;
    }

    th img:hover{
        width: 70px;
        height: 70px;
    }
}
    /* FIN SECTION */
    /* SECTION PANIER SHOP*/
     /* FIN SECTION PANIER SHOP*/


@media screen and (max-width: 350px) {

    /* FOOTER */
    .footer-end img{
        height: 10px;
        width: 10px;
        margin-right: 5px;
    }
        
    .footer-end  p{
        font-size: 0.8em;
    }
    /* FOOTER */
    /* FIN MEDIA QUERY */
}